body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/402/439/original/night-colorful-starry-sky-background-free-vector.jpg');
}

.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: mediumorchid;
    font-size: larger;
    background-color: gold;
}

.content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    font-size: medium;
    background-color: navy;
}

#pageturn{
    color: deeppink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}